.row
  .login.span6.offset3
    = form_tag sessions_path, class: 'form-horizontal' do
      %fieldset
        %legend Sign In
        .control-group
          = label_tag :email, 'Email',
            class: 'control-label'
          .controls
            = text_field_tag :email
        .control-group
          = label_tag :password, 'Password',
            class: 'control-label'
          .controls
            = password_field_tag :password
        .form-actions
          = submit_tag 'Log In', class: 'btn'
