.row
  .project.span10.offset1
    .title
      %h1
        = @project.name
        .pull-right
          %a.btn.resource-btn
            New Resource
    .lists

      %ul.resources
        - @resources.each do |resource|
          %li
            = display resource

      %hr

      %ul.notes
        - @project.notes.each do |note|
          %li
            = note.content
.modal.resource-modal
  .modal-header
    %h3
      New Resource
  .modal-body
    %p
      = form_for [ @project, @resource ] do |f|
        = f.text_field :value
        .modal-footer
          %a(href="#" class="btn resource-close")
            Close
          = f.submit 'Submit', class: 'btn btn-primary'
