.row
  .project.span10.offset1
    .title
      %h1
        = @project.name
        .pull-right
          %a.btn.resource-btn New Resource
          = link_to project_resources_path(@project), class: 'btn' do
            %i.icon-pencil
    .lists
      = render 'resources'
      = render 'notes'

= render 'resource_modal'
