.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to 'tangela', root_url, class: 'brand'
      - if signed_in?
        %ul.nav
          %li.divider-vertical
          %li= link_to 'Projects', projects_path

      %ul.nav.pull-right
        - if signed_in?
          %li.dropdown
            %a(class='dropdown-toggle' data-toggle='dropdown' href='#')
              = current_user.name
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to edit_user_path current_user do
                  %i.icon-cog
                  \ Settings
              %li
                = link_to logout_path do
                  %i.icon-off
                  \ Log out
        - else
          %li= link_to 'Log In', login_path
