!!!HAML
%html
  %head
    %title Tangela
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render 'layouts/doorkeeper_nav'
    .container
      = yield
